#SignBoxContainer {
    display: flex;
    justify-content: space-around;
    /* flex-direction: column; */

    width: 100%;
    height: 60%;

    background-color: aquamarine;
}

#SignBoxContainer input {
    display: block;
    margin: 1em auto;
    border: 1px solid #ddd;
    padding: 0.8em 0;
    width: 90%;

    color: aqua;
    text-indent: 1em;
}
input::-webkit-input-placeholder { color: #ccc; } /* placeholder 글자색 변경(크롬 적용) */

#SingBoxSubmit {
    margin-top: 2em;
}