#SignBoxContainer {
    display: flex;
    justify-content: space-around;
    /* flex-direction: column; */

    width: 100%;
    height: 60%;
}

.SignBoxInput {
    display: block;
    margin: 1em auto;
    border: 1px solid #ddd;
    padding: 0.8em 0;
    width: 90%;

    color: black;
    text-indent: 1em;
}

input::-webkit-input-placeholder {
    /* placeholder 글자색 변경(크롬 적용) */
    color: #ccc;
}

#SignBoxSubmit {
    display: inline-block;
    margin-top: 1.5em;
    /* border: 1px solid #ddd; */
    border-radius: 1em;
    padding: 0.8em 0;
    width: 60%;

    background-color: aquamarine;
    color: white;
}