.MostBenefitSlide {
    width: 300%;
    top:50%;
    transition: all 0.8s 0s ease-in-out;
}

#Slide1 {
    transform: translate(0,-50%);
}
#Slide2 {
    transform: translate(-33.3%,-50%);
}
#Slide3 {
    transform: translate(-66.6%,-50%);
}

#MostBenefitController {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.2em 0;

    background-color: #1d1d27;
    color: white;
}