.active {
    background-color: green;
}

#DashContainer {
    height: 720px;
    background: linear-gradient(to right, rgba(21, 65, 129, 0.7) -0.29%, rgba(70, 143, 255, 0.7) 100%);
}

#DashContent {
    border-radius: 30px 100px 30px 100px;
    width: 70%;
    height: 70%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#DashSidebar {
    width: 15%;
}

#DashMainboard {
    width: 85%;
}