#BenefitListMenu > button {
    margin: 0 1em;
    padding : 1em 0 0.3em;
    width: 6em;

    color: #999;
    border-bottom: 1px solid;
    font-size: 0.8em;

    transition: linear 20ms;
}
#BenefitListMenu > button.active {
    transform: scale(1.1);
    color: black;
    border-bottom: 2px solid rgb(110,133,183);
}

#ListBoard {
    height: 75%;
}

#PostsTitle {
    height: 10%;
}
#Posts {
    height: 90%;
}