#MainContainer {
    background: linear-gradient(to right, #154181, #468fff);
    font-size: 0.6em;
}

/* -------------------------- Section #1 -------------------------- */

#MainSection1 {
    height: 720px;
}

#MainHeader {
    height: 10%;
}
#MainNav {
    font-size: 1.4em;
}

#MainContent {
    height: 60%;
}
#MainTitle {
    font-family: 'HSSummer';
    font-size: 13em;
}
#MainSubtitle {
    font-family: 'HSSummer';
    font-size: 2.7em;
    left: 34rem;
    top: -1.5rem;
}


#MainFooter {
    height: 30%;
}
#MainMoreInfo {
    animation: floating 1.5s ease-in-out infinite;
    background-color: #2ec0b6;
}

.MainWave {
    width: 5120px;
    height: 129px;
    background-image: url(../../images/wave.png);
}

#MainWave1 {
    bottom: 85%;
    animation: flowingleft 25s linear infinite;
}

#MainWave2 {
    bottom: 95%;
    left: -20%;
    animation: flowingright 30s linear infinite;
}

#MainWave3 {
    bottom: 80%;
    left: -40%;
    animation: flowingleft 50s linear infinite;
}

@keyframes flowingleft {
    from {
        transform: translate(0);
    }

    to {
        transform: translate(-1280px);
    }
}

@keyframes flowingright {
    from {
        transform: translate(-2560px);
    }

    to {
        transform: translate(-1280px);
    }
}

@keyframes floating {
    0% {
        transform: translate(-50%,0);
    }

    10% {
        transform: translate(-50%,0);
    }

    60% {
        transform: translate(-50%,25%);
    }

    100% {
        transform: translate(-50%,0);
    }
}

/* -------------------------- Section #2 -------------------------- */

#MainSection2 {
    height: 2000px;
    background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.4));
}