/* #LoginContainer {
    background-color: #4188f3;
} */

#LoginToggleBox {
    transform: translateY(1px);
}

#LoginToggleBox>.active {
    box-sizing: border-box;
    /* border-radius: 3em 3em 0 0; */
    background-color: white;
}

#LoginToggleBox>.unactive {
    box-sizing: border-box;
    /* border-radius: 5em 5em 0 0;  */
    background-color: #4188f3;
}